<a href="https://colab.research.google.com/github/amruthdhulipalla/python-projects/blob/main/python_functions_module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def nCr(amruth,dhulipalla):
   return(fact(amruth)/(fact(dhulipalla)
                 *fact(amruth-dhulipalla)))
amruth=int(input(""))
dhulipalla=int(input(""))
def fact(amruth):
    res=1
    for i in range(2,amruth+1):
      res =res*1
    return res
print(int(nCr(amruth,dhulipalla)))

5
7
1

In [ ]:
def list_diff(list1, list2): 
	return (list(set(list1) - set(list2))) 


list1 = [11, 16,41,26] 
list2 = [26, 41, 16] 


print(list_diff(list1, list2))

[11]

In [ ]:
def Diff(li1, li2):
    li_dif = [i for i in li1 + li2 if i not in li1 or i not in li2]
    return li_dif
li1 = [26, 15, 18]
li2 = [25, 40, 35]
li3 = Diff(li1, li2)
print(li3)

[26, 15, 18, 25, 40, 35]

##to print first largest AND SECOND LARGEST IN LIST

In [ ]:
def find_len(amruth):
     length = len(amruth)
     amruth.sort()
     print("Largest element is:", amruth[length-1])
     print("Smallest element is:", amruth[0])
     print("Second Largest element is:", amruth[length-2])
     print("Second Smallest element is:", amruth[1])
amruth=[1,25,63]
Largest = find_len(amruth)

Largest element is: 63
Smallest element is: 1
Second Largest element is: 25
Second Smallest element is: 25

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
num

In [ ]:

lowerlimit = int(input("Enter some random lower limit ="))
upperlimit = int(input("Enter some random lower limit ="))

listOfTuples = [(k, k**2) for k in range(lowerlimit, upperlimit+1)]

print('The list of Tuples are : ', listOfTuples)

Enter some random lower limit =5
Enter some random lower limit =6
The list of Tuples are :  [(5, 25), (6, 36)]

Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2

In [3]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
print("The original list : " + str(test_list)) 
K=1
res = [ele for ele in test_list if len(ele) != K]
print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4, 5), (8, 6, 7), (3, 4, 6, 7)]

In [5]:
yellow = {'amruth':1,'dhulipalla':2,'a1':3,'d2':4}
print(yellow)
if 'amruth' in yellow: 
    del yellow['amruth']
print(yellow)

{'amruth': 1, 'dhulipalla': 2, 'a1': 3, 'd2': 4}
{'dhulipalla': 2, 'a1': 3, 'd2': 4}

In [8]:
amruth=int(input("Input a number "))
dhulipalla = dict()
for x in range(1,amruth+1):
    dhulipalla[x]=x*x
print(dhulipalla)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
amruth= {234,567,876,987}
print(max(amruth))
print(min(amruth))

987
234

In [12]:
amruth= "amruth dhulipalla"
print(amruth.split())
print(amruth[3:8])

['amruth', 'dhulipalla']
uth d

In [13]:
prajwal= "thinking about you "
print(prajwal.count("i"))

2

In [14]:
amruth="ssongs"
print (amruth.replace("s" , "o" ))

ooongo

In [17]:
import random
amruth=input("enter the command ")
if "rollno"==amruth:
    for x in range(6):
        amruth=random.randint(1,6)
        print(amruth)

enter the command 4

In [18]:
def string(amruth):
    u=0;l=0
    for x in amruth:
        if x.isupper():
           u=u+1
        else:
           l=l+1
    print("the lower values", l)
    print("the upper values", u)

string("AmRUtH")

the lower values 2
the upper values 4

In [19]:
a=['sgh', 'hgd', 'huj', 'y767' ]
c=0
for x in a :
    if len(x)>=2:
        if x[0]==x[-1]:
            c=c+1
print("the string of length 2 is",c)

the string of length 2 is 0